#topdiv {
  height: 50% !important;
  overflow: scroll;
}

#tablediv {
  height: 50% !important;
  overflow: scroll;
}

#title {
  font-size: 36px;
  font-weight: bold;
}

.clickable {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

#filluptable {
  text-align: center;
}
