html, body {
  height: 100%;
}

#fillup_table_div {
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  overflow: scroll;
  width: 80%;
  height: 35%;
}

#searchfillups, #addfillup, #modifyfillup {
  overflow: scroll;
  height: 50%;
  padding-left: 30px;
  padding-bottom: 10px;
  width: auto;
}

#navbuttons, #returnbutton {
  margin-left: 30px;
  padding-left: 10px;
  width: 60%;
  height: 5%;
}


#deletebutton {
  background-color: red;
}

.heading {
font-weight: bold;
font-size: 36px;
padding-bottom: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

button {
  font-size: 14px;
  background-color: lightblue;
}

th {
  background-color: lightblue;
  width: 100px;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.searchbox {
  width: 128px;
}
